/*{ background-color: #0f1111;}*/
*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;

}
.logo{
    background-image: url(im1.jpg);
    background-size: 100%;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/*box 2*/
.loc1{
    color: #cccc;
    font-size: 0.8em;
    margin: 15px;
    line-height: 0;
}
.loc2{
    font-size: 1rem;
    margin-left: 3px;
    line-height: 0;
}
.adress-icon{
    display: flex;
    align-items: center;
}
/** box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color:pink;
    width: 400px;
    height: 40px;
    border-radius: 4px;

}
.selc{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border: none;
}
.ip{
    width: 100%;
    font-size: 1rem;
    border: none
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
span{
    font-size: 0.7rem;

}
.nav-second{
    font-size:0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font: size 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/** panel **/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    
}
.panel-options p{
    display: inline;
    margin-left: 15px;
}
.panel-options{
    width: 70%;
    font-size: 0.85 rem;
}
.panel-deal{
    font-size: 0.95rem;
    font-weight:700%
}
.hero{
    background-image:url(heroimg.jpeg);
    background-size: cover;
    height:600px;
    position: relative;
}
.heromsg{
    position: absolute;
    bottom: 350px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(194, 190, 190, 0.913);
    color: black;
    height: 30px;
    font-size: 0.85rem;
    width: 95%;
    text-align: center;
}
.heromsg a {
    color: #007185;
}
.heromsg{
    display: flex;
    justify-content: center;
    align-items: center;
}