/*{ background-color: #0f1111;}*/
*{
    margin: 0;
    padding:0;
    font-family: arial;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;

}
.logo{
    background-image: url(im1.jpg);
    background-size: 100%;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/*box 2*/
.loc1{
    color: #cccc;
    font-size: 0.8em;
    margin: 15px;
    line-height: 0;
}
.loc2{
    font-size: 1rem;
    margin-left: 3px;
    line-height: 0;
}
.adress-icon{
    display: flex;
    align-items: center;
}
/** box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color:pink;
    width: 400px;
    height: 40px;
    border-radius: 4px;
    flex: 1;
    max-width: 500px;
    min-width: 250px;
}
.selc{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border: none;
}
.ip{
    width: 100%;
    font-size: 1rem;
    border: none
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
span{
    font-size: 0.7rem;

}
.nav-second{
    font-size:0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font: size 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/** panel **/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    
}
.panel-options p{
    display: inline;
    margin-left: 15px;
}
.panel-options{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deal{
    font-size: 0.95rem;
    font-weight:700%
}
.hero{
    background-image:url(heroimg.jpeg);
    background-size: cover;
    height: 300px;
    position: relative;
}
.heromsg{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(194, 190, 190, 0.913);
    color: black;
    height: 30px;
    font-size: 0.85rem;
    width: 95%;
    text-align: center;
}
.heromsg a {
    color: #007185;
}
.heromsg{
    display: flex;
    justify-content: center;
    align-items: center;
}
/** shop **/
.selection-box{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #363938;
    padding: 20px;
    gap: 20px;
}
.box{
    border:none;
    height: 400px;
    width: calc(25% - 20px);
    min-width: 200px;
    background-color: white;
    flex: 1 1 calc(25% - 20px);
}
.box-content img{
    width: 100%;
    height: 110px;
    object-fit: cover;  
    margin-bottom:8px;
}


.box-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 22px;      
    padding: 15px;

}
.items{
    width: 100%;
    height: 120px;
    padding: 8px;
    
}
.items p{ 
    font-size: 0.85rem;

}
.box-content .items{    
    padding: 5px;

}
.heading{
    margin-top: 5px;
    margin-left :15px;
}
.explore{
    display: wrap;
    margin-top: 5px;
}
.explore a:hover{
    border: none;
    color: #0f1111;
}
footer{
    margin-top: 15px;
}
.panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.panel2{
    background-color: #222f3d;
    color: white;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
ul {
    list-style-type: none;
    margin-top: 10px;
}
ul a {
    display:block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#ddd;
    text-decoration: none;
}
.panel3{
    background-color: #37475a;
    color: white;
    border-top: 0.5px solid white;
    padding: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ft-logo{
    background-image: url(logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 120px;
}
.panel4{
    background-color: #0f1111;
    color:white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding:5px;

}

/* Tablet Responsiveness (768px and below) */
@media (max-width: 768px) {
    .navbar {
        justify-content: center;
        gap: 10px;
    }
    .nav-address, .nav-singin, .nav-return {
        display: none;
    }
    .nav-search {
        width: 100%;
        max-width: 300px;
        flex: none;
    }
    .selection-box {
        flex-direction: column;
        align-items: center;
    }
    .box {
        width: 100%;
        max-width: 400px;
    }
    .panel-options {
        display: none;
    }
    .panel2 {
        flex-direction: column;
        height: auto;
        padding: 15px;
    }
    .panel2 ul {
        margin-bottom: 15px;
    }
}

/* Mobile Responsiveness (480px and below) */
@media (max-width: 480px) {
    .navbar {
        height: auto;
        padding: 10px;
    }
    .nav-logo {
        width: 80px;
        height: 40px;
    }
    .nav-cart {
        font-size: 0.7rem;
    }
    .hero {
        height: 200px;
    }
    .heromsg {
        font-size: 0.7rem;
        width: 90%;
    }
    .box {
        width: 100%;
        height: auto;
        min-height: 300px;
    }
    .box-content {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }
    .heading {
        font-size: 1rem;
    }
    .panel1 {
        font-size: 0.75rem;
    }
    .panel2 {
        font-size: 0.75rem;
    }
}