/*{ background-color: #0f1111;}*/
*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;

}
.logo{
    background-image: url(im1.jpg);
    background-size: 100%;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/*box 2*/
.loc1{
    color: #cccc;
    font-size: 0.8em;
    margin: 15px;
    line-height: 0;
}
.loc2{
    font-size: 1rem;
    margin-left: 3px;
    line-height: 0;
}
.adress-icon{
    display: flex;
    align-items: center;
}
/** box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color:pink;
    width: 400px;
    height: 40px;
    border-radius: 4px;

}
.selc{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border: none;
}
.ip{
    width: 100%;
    font-size: 1rem;
    border: none
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}